<launch>

  <node pkg="fusion_detect" type="fusion_detect" name="fusion_detect" output="screen">
  </node>
  <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="fusion_visualization_01"
        output="screen" ns="/detection/final_result" />   <!-- old ns="/detection/lidar_detector" -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="true" args="-d $(env HOME)/.rviz/kitti.rviz" />
</launch>

